<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">

        <link rel="stylesheet" href="css/stylesheet.css">
        
        <title>Shopping Cart</title>
    </head>
    <body>
        <nav class="nav">
            <div class="nav__logo-box">
                <img src="http://files.softicons.com/download/business-icons/flatastic-icons-part-4-by-custom-icon-design/png/512x512/shopping-bag-blue.png" alt="Shopper" class="nav__logo">
            </div>
            <div class="nav__elements">
                <ul class="nav__elements--options">
                    <li><a>Cart</a></li>
                    <li><a>User</a></li>
                </ul>

            </div>
        </nav>