<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/stylesheet.css">
        
        <title>Shopping Cart</title>
    </head>
    <body>
        <nav class="nav">
            <div class="nav__logo-box">
                <a href="/products">
                    <img src="http://files.softicons.com/download/business-icons/flatastic-icons-part-4-by-custom-icon-design/png/512x512/shopping-bag-blue.png" alt="Shopper" class="nav__logo">
                </a>
                
            </div>
            <div class="nav__elements">
                <ul class="nav__elements--options">
                    <%if(login){%>
                        <li><a href="/user/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                        <li><a href="/user/profile"><i class="fas fa-user"></i> User</a></li>
                    <%}else{%>
                        <li><a href="/user/signin"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                        <li><a href="/user/signup"><i class="fas fa-user-plus"></i> SignUp</a></li>
                    <%}%>
                    
                    <li>
                        <a href="/shopping-cart">
                            <i class="fas fa-shopping-cart"></i> 
                            Cart 
                            <%if(session.cart){%>
                                <span class="nav__tqty"> <%=session.cart.totalQty%></span>        
                            <%}%>
                        </a>
                    </li>
                </ul>

            </div>
        </nav>