<%include partials/header%>
    <div class="cart__page">
        <section class="section-checkout" id="section-checkout">
            <div class="u-center-text u-margin-bottom-big">
                <h2 class="heading-secondary">
                    checkout
                </h2>    
            </div>
            
            <div class="shopping-cart__total-row">
                <span class="shopping-cart__row--name">
                    Amount Payable
                </span> 
                <span class="shopping-cart__row--price">
                     rs.<%=total%>
                </span>
            </div>
            
                <div id="charge-error" class="error__message">
                    <%=errMsg%>
                </div>
            
            <form method="post" action="/checkout" id="checkout-form" class="form">
                <div class="form__group">
                    <label for="name" class="form__label">Name</label>
            		<input type="text" id="name" required name="name" class="form__input">
                </div>
                <div class="form__group">
            		<label for="address" class="form__label">Address</label>
            		<input type="text" id="address" required name="address" class="form__input">
                </div>
                <div class="form__group">
                    <label for="card-name" class="form__label">Card Holder Name</label>
        		    <input type="text" id="card-name" required class="form__input">
                </div>
                <div class="form__group">
                    <label for="card-number" class="form__label">Credit/Debit Card Number</label>
            		<input type="text" name="card-number" id="card-number" required class="form__input">
                </div>
                <div class="form__group">
            		<label for="card-expiry-month" class="form__label">Expiration Month</label>
            		<input type="text" id="card-expiry-month" required class="form__input">
                </div>
                <div class="form__group">
                    <label for="card-expiry-year" class="form__label">Expiration Year</label>
        		    <input type="text" id="card-expiry-year" required class="form__input">
                </div>
                <div class="form__group">
                    <label for="card-cvc" class="form__label">CVC</label>
            		<input type="text" id="card-cvc" required class="form__input">
                </div>
        		<button type="submit" class="remove btn-remove">Make Payment</button>
        	</form>
        </section>
    </div>
    
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
	<script type="text/javascript" src="/javascript/checkout.js"></script>

<%include partials/footer%>