*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    box-sizing: inherit;
}
body{
    box-sizing: border-box;
    padding: 3rem;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    color: #777;
    line-height: 1.7;
}
html{
    font-size: 62.5%;
}
.nav{
    height: 8vh;
    background-image: linear-gradient(to right bottom, rgba(20, 26, 33, 0.88), rgba(41, 50, 60, 0.88));
    background-size: cover;
    background-position: top;
    position: relative;
}
.nav__logo-box{
    position: absolute;
    top: 3rem;
    left: 4rem;
}
.nav__logo{
    height: 8rem;
}
.nav__elements{
    margin-right: 2rem;
}
.nav__elements--options{
    list-style-type: none;
    background: transparent;
    font-size: 1.8rem;
    text-transform: uppercase;
}
.nav__elements--options li{
    float: right;
    padding-top: 1rem;
}
.nav__elements--options li a{
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
li a:hover{
    color: #42c2f4;
    transition: ease-in 0.2s;
}

.catalog{
    background-color: #f7f7f7;
    padding: 5rem 6rem;
}

.u-center-text {
    text-align: center !important; }
  
.u-margin-bottom-big {
    margin-bottom: 8rem !important; }

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    color: rgba(41, 50, 60, 0.88);
    display: inline-block;
    font-weight: 600;
    letter-spacing: 0.2rem;
    transition: all 0.2s; }

.row {
    max-width: 114rem;
    margin: 0 auto; }
.row:not(:last-child) {
    margin-bottom: 5rem; }

.row::after {
    content: "";
    clear: both;
    display: table; }

.row [class^="col-"] {
    float: left;
}
.row [class^="col-"]:not(:last-child) {
    margin-right: 6rem; }
.col-1-of-3 {
    width: calc((100% - 2*8rem)/3); }

.card {
    position: relative;
    height: 52rem; }
.card__side {
    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
}

.card__picture {
    background-size: cover;
    height: 23rem;
    /*background-image: url();*/
    background-position: right;
}
.card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }

.card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }

.card__details {
    padding: 3rem; }

.card__details ul {
list-style-type: none;
width: 80%;
margin: 0 auto; }

.card__details ul li {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem; }

.card__details ul li:not(:last-child) {
    border-bottom: 1px solid #eee; }
          

.btn {
    background-color: rgba(41, 50, 60, 0.88);
    color: #fff;
    border: none;
    border-radius: 0;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 1.5rem 3rem;
    width: 100%;

    cursor: pointer;
    transition: all 0.2s; }

.btn:hover {
    background-color: rgba(20, 26, 33, 0.88); }
    
.nav__tqty {
    font-size: 1.2rem;
    font-weight: 600;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    color: rgba(20, 26, 33, 0.88);
    background-color: #fff;
    position: absolute;
    top: 3.1rem;
    right: 27.1rem;
}
.cart__page{
    background-color: #f7f7f7;
    padding: 5rem 6rem;
    min-height: 86vh; 
}

.shopping-cart{
    background-color: #fff;
    /*min-height: 43vh;*/
    max-width: 114rem;
    margin: -5rem auto 0 auto;
    border-radius: 0.3rem;
}
.cart__empty{
    height: 23rem;
    display: block;
    margin: 3rem auto;
    padding-top: 4rem;
}
.shopping-cart__row{
    width: 100%;
    margin: 0 auto; 
    /*background-color:#a9a9a9;*/
    padding:2rem;
}

.shopping-cart__row:not(:last-child){
    border-bottom: 1.5px solid #f6f6f6;
}

.shopping-cart__row--name,.shopping-cart__row--price,.shopping-cart__row--quantity{
    font-size: 3rem;
    text-transform: uppercase;
    color: rgba(41, 50, 60, 0.88);
    display: inline-block;
    font-weight: 400;
    letter-spacing: 0.2rem;
    /*margin: 0.5rem 20rem 0.5rem 0.5rem; */
    width: 50%;
}
.shopping-cart__row--price{
    width: 22%;
    font-size: 2rem;
    font-weight: 300;
}
.shopping-cart__row--quantity{
    width: 20%;
    font-size: 2rem;
    font-weight: 300;
}

.btn-remove,.btn-remove:link,.btn-remove:visited{
    text-decoration: none;
    /*text-transform: uppercase;*/
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.4rem;
    font-weight: 400;
    border: none;
    cursor: pointer; 
    margin: 0.5rem 1rem 0.2rem 1rem;
}

.btn-remove:hover{
    transform: translateY(-0.5px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.btn-remove:active, .btn-remove:focus{
    outline: none;
    transform: translateY(0.5px);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.07);
}

.remove{
    background-color: #42c2f4;
    color: #fff;
}


.shopping-cart__total-row{
    background-color: #fff;
    /*min-height: 43vh;*/
    max-width: 114rem;
    margin: 4rem auto 0 auto;
    border-radius: 0.3rem;
    /*height: 4rem;*/
    padding:2rem;
}

.shopping-cart__total-row--button{
    width: 20%;
}