<%include ../partials/header%>
    <div class="cart__page">
        <section class="section-signup" id="section-signup">
            <div class="u-center-text u-margin-bottom-big">
                <h2 class="heading-secondary">
                    Sign Up
                </h2>    
            </div>
            
            <%if(hasErrors) {messages.forEach(function(message){%>
                <div class="error__message red"><%=message%></div>
            <%})}%>
            
            <form method="POST" action="/user/signup" class="form">
                <div class="form__group">
                    <label for="email" class="form__label">Email</label>
                    <input type="email" name="email" id="email" class="form__input">    
                </div>
                <div class="form__group">
                    <label for="password" class="form__label">Password</label>
                    <input type="password" name="password" id="password" class="form__input">
                </div>
                    
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                <button type="submit" class="remove btn-remove">Sign Up</button>
            </form>
        </section>
    </div>
<%include ../partials/footer%>