<h2>Sign Up</h2>
<%if(hasErrors) {messages.forEach(function(message){%>
    <p><%=message%></p>
<%})}%>
<form method="POST" action="/user/signup">
    <label for="email">Email</label>
        <input type="email" name="email" id="email">
    <label for="password">Password</label>
        <input type="password" name="password" id="password">
        
        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
    <button type="submit">Sign Up</button>
</form>